body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    background-color: lightslategray;
}

header {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    min-height: 30vh;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
}

button {
    padding: 6px;
}